body{
    margin:0 auto;
    color: #232424;

}
h1{
    font-size: 2.5em;
    color: #232424;
}
h2{
    font-size: 1.5em;
    color:#232424 ;
    line-height: 5px;
    font-weight:600;
}
#navigation {
    min-height:300px;
    background-color: #2db8af;
    background-image: url("../images/stream.png") ;
    background-position: right top;
    background-repeat: no-repeat;
}
#logoPlace{
    min-height: 200px;
    text-align: center;
}
#logoPlace img {
    margin-top: 20px;
}

.navbar-default{
    text-align: left;
}
.navbar-default .navbar-nav>li>a{
    font-size: 2em;
    color: #232424;
    font-weight: bold;
    font-family: Arial;
}

.navbar-default ul{
    margin-top: 20px;
}

.navbar-default ul>li{
    margin-left: 10px;
}
.navbar-default ul>li:last-child{
    border:1pt solid #232424;
}

.navbar-collapse>.navbar-nav{
    justify-content: center;
}

.col-xs-offset-4_5 {
    margin-left: 29.175%;
}

ul {
    text-align:center;
}
li {
    display:block;
    color:white;
    margin-right:10px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

section{
    min-height: 370px;
    background-color: black;
}

.abil{
    height: 90px;
}

.parag{
    font-size: 1.2em;
    color: #232424;
    font-style: italic;
}

#box-wrapper {
    background-image: url('../images/Schedule-Calendar-750x330.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
}
#box-wrapper div>h1{
    font-style: italic;
    font-size:5em;
    color: #232424;
    line-height: 1.5;
    font-family: "Arial Narrow";
}
.marg{
    margin: 1% 0 0 0;
}

.fa-check{
    font-size: 1.4em;
    color: #2db8af;
}

.list-unstyled{
    line-height: 2cm;
}
.list-unstyled >li{

    font-size: 1.5em;
    color: #232424;
    font-family: Arial;
}
footer{
    min-height: 180px;
    background-color: #232424;

}
footer .list-inline{
    margin-left: 10%;
}

footer .list-inline>li>a{
    text-decoration: underline;
    color: #c26248;
    font-size: 1.2em;
}

footer .list-inline>li>a:hover{
    color: #d67961;
}

#listicon{
    padding-left: 9%;
}
#listicon>li{
    float: left;
}

@media (max-width: 767px) {
    .background{
        background-color: #eec1b5;
        padding: 2%;
        margin-bottom: 5%;
    }
}