body{
    margin:0 auto;
    color: #232424;

}
h1{
    font-size: 2.5em;
    color: #232424;
}
h2{
    font-size: 1.5em;
    color:#232424 ;
    line-height: 5px;
    font-weight:600;
}
#navigation {

    background-color: #2db8af;
    background-image: url("../images/stream.png") ;
    background-position: right top;
    background-repeat: no-repeat;
}
#logoPlace{
    min-height: 200px;
    text-align: center;
}
#logoPlace img {
    margin-top: 20px;
}

.col-xs-offset-4_5 {
    margin-left: 29.175%;
}

ul {
    text-align:center;
}
li {
    display:block;
    color:white;
    margin-right:10px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

section{
    min-height: 370px;
    background-color: black;
}

.abil{
    height: 90px;
}

.parag{
    font-size: 1.2em;
    color: #232424;
    font-style: italic;
}

#box-wrapper {
    background-image: url('../images/Schedule-Calendar-750x330.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
}
#box-wrapper div>h1{
    font-style: italic;
    font-size:5em;
    color: #232424;
    line-height: 1.5;
    font-family: "Arial Narrow";
}
.marg{
    margin: 1% 0 0 0;
}

.fa-check{
    font-size: 1.4em;
    color: #2db8af;
}

.list-unstyled{
    line-height: 2cm;
}
.list-unstyled >li{

    font-size: 1.5em;
    color: #232424;
    font-family: Arial;
}
footer{
    min-height: 180px;
    background-color: #232424;

}
footer .list-inline{
    margin-left: 10%;
}

footer .list-inline>li>a{
    text-decoration: underline;
    color: #c26248;
    font-size: 1.2em;
}

footer .list-inline>li>a:hover{
    color: #d67961;
}

#listicon{
    padding-left: 9%;
}
#listicon>li{
    float: left;
}

@media (max-width: 767px) {
    .background{
        background-color: #eec1b5;
        padding: 2%;
        margin-bottom: 5%;
    }
}

.flags{
    float: left;
    margin-top: 15%;
    margin-left: 2%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.lang{
    float: left;
    margin-top: 2%;
}

.submitButtons{
    background-color: #2db8af;
    color: #232424;
    text-align: center;
    font-size: 1.2em;
}

.blocks{
    padding: 4%;
    background-color:#2db8af;
    color: #232424;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}
.blocks:hover{
    box-shadow: #0d3625 0.5px 0.5px 5px;
}