
.navbar-default{
    text-align: left;
}
.navbar-default .navbar-nav>li>a{
    font-size: 2em;
    color: #232424;
    font-family: "Arial Narrow";
}

.navbar-default ul{
    margin-top: 20px;
}

.navbar-default ul>li{
    margin-left: 10px;
}

.navbar-collapse>.navbar-nav{
    justify-content: center;
}
