.panel-default{
    border: 1px solid #2db8af;
    border-radius: 0px;
    color:#232424;
    font-family: "Arial Narrow";
    font-size: 1.3em;
}

.panel-default>.panel-heading{
    border-color: #2db8af;
}
.panel-default{
    margin:10% 0 20% 0;

}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #232424;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }



.forms>input{
    border:1px solid #c26248;
    border-radius: 0px;
}